/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-padding-top: 70px;
  scroll-behavior: smooth;
  
}


p.charactername { 
  text-align: center;
  color: rgb(30, 177, 10);
  font-weight: bold;
}
h1.dramatishead { margin: 1em;
  text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 34px;
}

span.character_role{
color: black;
font-style: italic;
font-weight: 100;
}



body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 80px 2em;
  padding: 0;
}



input[type="checkbox"] {
  display: none;
}

section {
  border: 0;
}

.backtotop{
  position:fixed ;
  bottom: 2px;
  right: 8px;
  opacity: 0.9;
}


/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */



.dramatis,
.play {
  border: auto solid color red (236, 89, 20);
  background-color: rgba(175, 193, 219, 0.664);
  width: 65%;
  margin: auto;
  padding: 5em;
  max-width: 750px;
}
section.dramatis {
  text-align: center;
}
figure {
  width: 100%;
  margin: 1em auto;
}
img { 
  max-width: 600px;
  max-height: 600px;
  margin: 0.5em auto;
  display: block;
}
h1.act {
  background-color: rgb(12, 131, 12);
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 2em;
}
h2.firstscene {
  text-align: center;
  margin-top: 0.5em;
}

h2.location { 
  background-color: rgb(186, 231, 173);
  text-align: center;
  padding: 6px;
  font-size: 1em;
}

p.character {
position: relative;
top: 1.2em;
right: 1.8em;
color: rgb(10, 150, 85);
}    




p.play_location {
  margin-top: 2em;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  text-align: center;
}
p.prose {
  width: 60%;
  margin: 0 7.8em auto;
  padding: 0;
  font-style: italic;
  text-align: center;
}
h2.scene {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
p.song {
  width: 60%;
  margin: 0 7.8em auto;
  padding: 0;
  font-style: italic;
}
h2.stagedirection {
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.verseline {
  margin: 0 0 0.4em 8em;
}


input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(23, 141, 76);
  z-index: 9999;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: row;
  font-size: 0.8em
  /*   justify-content: flex-start; */
}

nav ul li {
  flex: 0 0 9rem; /*the same as flex-grow, flex-shrink, flex-basis */
  text-align: center;
}

/* we turn off the underline and set the padding and the color */

nav ul li a {
  text-decoration: none;
  padding: 0.8rem 0.5rem;
  display: block;
}

/* feedback for the user with a background when hovering hover */

nav ul li:hover {
  background-color: rgb(8, 119, 126);
}

nav ul li a:hover {
  color: white;
}

/* sub menus */

li ul {
  display: none;
  position: absolute;
  background-color: rgb(8, 119, 126);
}

li ul li a {
  padding: 0.3rem 1.5rem;
  /*   font-size: 0.8rem; */
}

nav ul li:hover ul {
  display: flex;
  flex-direction: column;
}

nav ul li ul li {
  flex: 0 1 auto;
  width: 9rem; /* the same as the value for flex-basis on the parent li */
}


 

@media screen and (max-width: 750px) {

  .play, .dramatis {
    width: 100%;
    padding: 1em 3em;
  }

  nav ul {
    flex-direction: column;
    font-size: 0.8em;
    display: none;
  
    /*   justify-content: flex-start; */
  }

  .hamburger {
    display: block;
    float: right;
    cursor: pointer;
  }

  html {
    font-size: 12px;
  }

  /*   ~ the tilda points to the next sibling selector */

  input[type="checkbox"]:checked ~ ul {
    display: block;
  }

  li ul {
    position: static;
  }
html {
  scroll-padding-top: 245px;
}
  nav ul li {
    flex: 0 0 auto; /*the same as flex-grow, flex-shrink, flex-basis */
    width: 100%;
  }

  li.home{
    margin-right: auto;
  }
  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
img {
  max-width: 300px;
}

}


